#home {
  display: flex;
  flex-direction: column;
}

#title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: calc(50vh - 256px);
  .title__h1 {
    font-size: 16vw;
    font-weight: 900;
    em {
      color: #ff6200;
    }
  }
  .title__span {
    font-family: "espiritu-script";
    font-size: 6vw;
  }
}


#introduction {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 90vh;
  margin-top: -2px;
  background-color: #222;

  padding-top: 25vh;
  padding-bottom: 25vh;
  padding-left: 2rem;
  padding-right: 2rem;

  span {
    font-size: 24px;
    width: 20%;
    color: white;
    height: 100%;
    margin-right: 30%;
  }

  .introduction__rightbox {
    width: 100%;
    height: 100%;
    .introduction__vision {
      font-size: 2vw;
      color: white;
    }
    .introduction__white-bar {
      height: 2px;
      width: 100%;
      margin-top: 4vw;
      margin-bottom: 4vw;
      background-color: white;
    }
    .introduction__rightbottom {
      @include flex-between;
      align-items: end;
    }
    .introduction__desc {
      font-size: 16px;
      color: white;
      width: 50%
    }
    .introduction__about {
      font-size: 16px;
      color: white;
      font-weight: 700;
    }
  }
  
}

#mission {
  @include flex-between;
  padding-top: 10vh;
  padding-left: 2rem;
  padding-right: 2rem;
  .mission__leftbox {
    .mission__subtitle {
      font-size: 3vw;
      font-weight: 600;
    }
    .mission__apply_button {
      @include flex-center;
      height: 30px;
      width: 180px;
      border-radius: 15px;
      margin-top: 20px;
      border: solid 1px black;
    }
    .mission__hline {
      margin-top: 200px;
      margin-bottom: 2vw;
      width: 50vw;
      height: 2px;
      background-color: black;
    }
    .mission__desc {
      font-size: 16px;
      width: 25vw;
      margin-bottom: 10vh;
    }
  }

  .mission__img {
    width: 420px;
    height: 543px;
  }
}